* {
    /* outline: black 1px solid; */
    /* test */
    margin: 0;
    padding: 0;
}

.grid-container {
    width: 50vw;
    height: 50vw;
    line-height: 0;
}

.cell {
    /* width: 6.25%;
    height: 6.25%; */
    display: inline-block;
    line-height: normal;
    outline: grey 1px solid;
}

.hover {
    background-color: rgb(26, 26, 26);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10vw;
    background-color: black;
    color: white;
}

.controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#clear-background-color {
    margin: 2vw;
}

#slider-container {
    margin-bottom: 0.5vw;
}